# old codes
/legacy

# virtualenv
/venv

# XFOIL inheritance
/airfoilEval/XFOIL/*
!/airfoilEval/XFOIL/xfoilInput.input

# image extensions
*.eps
*.png
*.fig

# archives
*.pdf
*.rar
*.exe
paper*

# misc
Batchjob
*.bl
log*
**.ini
**.pyc
